* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  background-color: rgb(253, 253, 152);
}

header {
  background-color: rgb(253, 253, 152);
}
header #icono {
  margin-top: 0.5em;
  margin-left: 1em;
  margin-bottom: 0.5em;
  height: 2em;
}

nav {
  background-color: #fef4f4;
  display: flex;
  justify-content: center;
}
@media (max-width: 576px) {
  nav #SmallScreenMenu {
    display: flex;
    justify-content: center;
  }
  nav #BigScreenMenu {
    display: none;
  }
  nav #botonDelNav {
    display: none;
  }
}
@media (min-width: 577px) and (max-width: 830px) {
  nav #SmallScreenMenu {
    display: none;
  }
  nav #formDeBusqueda {
    display: none;
  }
  nav #botonDelNav {
    display: none;
  }
}
@media (min-width: 831px) {
  nav #SmallScreenMenu {
    display: none;
  }
  nav #BigScreenMenu {
    display: flex;
    justify-content: center;
  }
}
nav .navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav .navbar-nav .nav-item {
  margin-left: 2%;
  margin-right: 2%;
  padding: 0px;
  min-width: fit-content;
}
nav .d-flex {
  display: flex;
  justify-content: center;
  margin-left: 20%;
}
nav .dropdown-toggle {
  font-size: 19px;
  font-family: "Roboto", sans-serif;
}
nav .nav-link {
  font-size: 19px;
  font-family: "Roboto", sans-serif;
}
nav .btn-outline-success {
  background-color: red;
  border-color: red;
  color: white;
}
nav .btn-outline-success:hover {
  background-color: white;
  border-color: red;
  color: red;
  border-width: 3px;
}
nav a {
  color: gray;
}
nav a:hover {
  color: red;
}

.carrousel, .slide {
  display: block;
  box-sizing: border-box;
  background-color: rgba(245, 245, 245, 0.281);
  padding-bottom: 1.5em;
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 2em;
  margin-bottom: 3em;
}
.carrousel .carousel.inner, .slide .carousel.inner {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: white;
}
.carrousel .carousel-item, .slide .carousel-item {
  padding: 2em;
}
.carrousel h2, .slide h2 {
  display: block;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  margin-top: 1em;
  margin-left: 1em;
}
.carrousel h3, .slide h3 {
  display: inline-block;
  box-sizing: border-box;
  margin-left: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgba(245, 245, 245, 0.14);
}
.carrousel .card, .slide .card {
  box-sizing: border-box;
  width: 33.3333333333%;
  display: flex;
  height: min-content;
  justify-content: center;
  margin-left: 0.5%;
  margin-right: 0.5%;
  align-items: center;
}
@media (max-width: 1020px) {
  .carrousel .card, .slide .card {
    display: flex;
    justify-content: center;
    margin: 1em;
  }
}
.carrousel .card img, .slide .card img {
  display: flex;
  height: 13em;
  width: 60%;
}
.carrousel .card-title, .slide .card-title {
  text-overflow: ellipsis;
  height: 2em;
}
.carrousel .carousel-control-prev, .slide .carousel-control-prev {
  box-sizing: border-box;
  margin-left: 1em;
  background-color: red;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.carrousel .carousel-control-next, .slide .carousel-control-next {
  box-sizing: border-box;
  margin-right: 1em;
  background-color: red;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.carrousel .btn, .slide .btn {
  display: flex;
  justify-content: center;
  background-color: red;
  border-color: red;
}
.carrousel .btn:hover, .slide .btn:hover {
  background-color: red;
  border-color: white;
  border-width: 3px;
}

footer {
  margin-top: 3em;
}
@media (max-width: 830px) {
  footer #SmallScreenFooter {
    display: grid;
    justify-content: center;
  }
  footer #SmallScreenFooter p {
    align-items: center;
  }
  footer #BigScreenFooter {
    display: none;
  }
}
@media (min-width: 831px) {
  footer #SmallScreenFooter {
    display: none;
  }
  footer #BigScreenFooter {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 25% 55% 20%;
  }
}
footer #iconoFooter {
  grid-column: 1;
  grid-row: 1;
}
footer #iconoContacto {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  padding-top: 2em;
  justify-content: space-evenly;
  align-items: flex-start;
}
footer #LinksFooter {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: center;
  color: gray;
  flex-direction: column;
  text-align: center;
  font-size: 1.2em;
}
footer #LinksFooter a {
  color: gray;
}
footer #LinksFooter a:hover {
  color: red;
  text-decoration: none;
}
footer #categoriasFooter {
  grid-column: 3;
  grid-row: 2;
  padding-left: 2em;
  text-align: center;
  font-size: 1.2em;
  color: gray;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
footer #categoriasFooter a {
  color: gray;
}
footer #categoriasFooter a:hover {
  text-decoration: none;
  color: red;
}
footer #leyendaFooter {
  grid-row: 3;
  grid-column: 2;
  display: flex;
  justify-content: flex-start;
}

.newsletter {
  box-sizing: border-box;
  background-color: rgba(0, 0, 255, 0.822);
  height: 200px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-color: black;
  border: 50px;
}

#newsletter {
  font-family: Playfair Display;
  font-size: 3em;
  color: white;
  text-align: center;
}

#newsletterForm {
  box-sizing: border-box;
  text-align: center;
  margin-top: 15px;
  font-size: 25px;
  font-weight: 50;
}

#enviar {
  font-size: 25px;
  background-color: rgb(236, 28, 28);
  border-radius: 15px;
  height: 40px;
  width: 500px;
  padding-top: 5px;
  color: wheat;
}

#newsletterMail {
  width: 500px;
  height: 40px;
  border-color: rgb(165, 155, 155);
}

.Ubicacion {
  display: inline-block;
  margin-top: 10px;
}

#mapita {
  margin: 40px;
  position: relative;
  bottom: 5px;
}

#formContacto {
  display: grid;
  padding-left: 4em;
  padding-right: 4em;
  grid-template-rows: 20% 20% auto;
  column-gap: 2em;
  row-gap: 1em;
}
#formContacto #NombreApellido {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2em;
}
#formContacto #NombreApellido #formNombre {
  grid-column: 1;
  grid-row: 1;
}
#formContacto #NombreApellido #formApellido {
  grid-column: 2;
  grid-row: 1;
}
#formContacto #formEmail {
  grid-row: 2;
}
#formContacto #formComentario {
  grid-row: 3;
}

.datosDeContacto {
  display: inline-block;
  margin-left: 35px;
  position: relative;
  bottom: 100px;
}

.dato {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 17px;
}

/*# sourceMappingURL=style.scss.map */
