footer{
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 25% 55% 20%;
    
    #iconoFooter{
        grid-column: 1;
        grid-row: 1;
    }

    #LinksFooter{
        grid-column: 2;
        grid-row: 2;
        &{
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }
    #categoriasFooter{
        grid-column: 3;
        grid-row: 2;
        &{
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }
    #leyendaFooter{
        grid-row: 3;
        grid-column: 1/3;
        &{
            display: inline-block;
            position: relative;
        }
    }
}