nav{
    background-color:  #fef4f4;
    display: flex;
    justify-content: center;
    
    @media (max-width: 576px) {
        #SmallScreenMenu{
            display: flex;
            justify-content: center;
        }
        #BigScreenMenu{
            display: none;
        }
        #botonDelNav{
            display: none;
        }
    }
    
    @media (min-width: 577px) and (max-width: 830px) {
        #SmallScreenMenu{
            display: none;
        }
        #formDeBusqueda{
            display: none;
        }
        #botonDelNav{
            display: none;
        }
    }
    
    @media (min-width: 831px) {
        #SmallScreenMenu{
            display: none;
        }
        #BigScreenMenu{
            display: flex;
            justify-content: center;            
        }
    }
    .navbar-nav{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .d-flex{
        display: flex;
        justify-content: center;
    }
    .dropdown-toggle{
        font-size: 19px;
        font-family:"Roboto", sans-serif;
    }
    .nav-link {
        font-size: 19px;
        font-family:"Roboto",sans-serif;
    }

    .btn-outline-success{
        background-color: red;
        border-color: red;

        color: white;
        &:hover{
            background-color: white;
            border-color: red;
            color: red;
            border-width: 3px;
        }
    }

    a{
        color: gray;
        &:hover{
            color: red;
        }    
    }
   
}