* {
    padding: 0;
    margin: 0;
}

.card {
    width: calc(100%/3);
    height: auto;
    display: flex;
    justify-content: center;
    margin-left: 0.5%;
    margin-right: 0.5%;
}
@media (max-width: 1020px) {
    .card{
        display: flex;
        justify-content: center;
        margin: 1em;
    }
    
}

.card img{
    display: flex;
    height:13em;
    width: 60%;
    
}

.carousel-control-prev,.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}